<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
    
<web-app>
    
    <servlet>
        <servlet-name> cmmdc  </servlet-name>
        <servlet-class> AJAXCmmdcServlet </servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name> completare  </servlet-name>
        <servlet-class> AJAXCompletareServlet </servlet-class>
    </servlet>

    <servlet>
        <servlet-name> alegerea  </servlet-name>
        <servlet-class> AJAXAlegereServlet </servlet-class>
    </servlet>

    <servlet-mapping> 
            <servlet-name>cmmdc</servlet-name> 
            <url-pattern>/cmmdc </url-pattern> 
    </servlet-mapping>
    
    <servlet-mapping> 
            <servlet-name>completare</servlet-name> 
            <url-pattern>/completare </url-pattern> 
    </servlet-mapping> 

    <servlet-mapping> 
            <servlet-name>alegerea</servlet-name> 
            <url-pattern>/alegerea </url-pattern> 
    </servlet-mapping> 
</web-app>
